/*Menu
0-Geral
1-Nav bar
2-Section 1
3-Section 2

*/

/*0- Geral*/
:root {
    --rosa-primario:#FFB6C0;
    --rosa-secundario:rgba(255,182,192,0.8);
    
    --branco-primario:#FFF;
    --branco-secundario: #FFFEE8;

    --cinza-primario:#333;
    --cinza-secundario:#CECECE;
}

@font-face{
    font-family:"Titan";
    src:url(../fonts/TitanOne-Regular.ttf);
}

@font-face{
    font-family: "Comfortaa";
    src:url(../fonts/Comfortaa-Regular.ttf)

}

/* 1-Nav Bar*/
nav{
    text-align: right;
}

header{
    width:90%;
}

nav a{
    color:var(--branco-secundario);
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.3s;
}
nav ul li{
    display: inline-block;
    margin: 15px 5px;
    font-size: 1.125em;
}
nav a:hover{
    background-color: var(--rosa-secundario);
    transition: 0.3s;
    

} 
nav ul li:nth-child(3):before,
nav ul li:nth-child(2):before,
nav ul li:nth-child(4):before{
    display:inline-block;
    content: "";
    height: 35px;
    width: 2px;
    background-color: var(--rosa-primario);
    position: relative;
    top:10px;
    left:-7px;
    
}
/*2-Section */

.home {
    background-image: url("../img/animal.png");
    background-size: cover;
    height: 100vh;
    color:var(--branco-secundario);
    font-family: "Titan";
    background-repeat: no-repeat;
    text-align: center;
}
.home h1{
    letter-spacing: 4px;
    font-size: 4em;
}
.home .icons{
    margin:50px 0;
}

.home .icons-content{
    width: 75px;
    height: 75px;
    
}
.home .box{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
#central{
    margin: 0px 20%;

}
.home .more{
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
}
.home .more p{
    font-size:1.5em;
    font-family:"Comfortaa";
    color: var(--branco-primario);
    margin-bottom: 5%;
}
.home .arrow{
    height: 28px;
    width:28px;
    margin:0 auto;
    border-bottom: solid 8px var(--branco-secundario);
    border-left: solid 8px var(--branco-secundario);
    transform: rotate(-45deg);
    border-radius:10%;
}
/*corpo primario*/
.about{
    padding-bottom: 100px;
}
.about h2{
    color: var(--rosa-secundario);
    font-family: 'Titan';
    text-align: center;
    font-size:2em;
    margin: 5% 0px;
    
}
.about p{
    text-indent: 20px;
    width: 70%;
    margin-left: 300px;
    font-size: 1.25em;
    
}
.about img{
    
    position: relative;
    box-shadow:rgba(0,0,0,.5) 2px 2px 2px;
}
.about .dog{
    top: 50px;
    left: 80px;
}
.about .cat{
    top:300px;
}
.about p#enfeitado{
    position: relative;
    top:100px;
    width:  180px;
    left: 3%;
    color: var(--rosa-secundario);
    border: solid 2px var(--rosa-secundario);
    padding: 30px;
    margin-bottom: 60px;
}
.about .aux{
    width: 400px;
    position: relative;;
    left: 60%;
}
.about .aux h2{
    color:black;
    font-family: "Confortaa";
}
.about .aux p{
    margin-left:0px;
    width:400px;
    font-size: 1.15em;
}
.about .amizade{
    position: relative;
    margin-top:-300px;
}
/*nossa equipe*/
.equipe{
    background-image: url("../img/gatinho.jpg");
    width: 1360px;
    height: 768px;
    font-family: "Titan";
    color:var(--branco-primario);
    text-align: center;
    widht:100%;

}
.equipe h2{
    font-size: 1.95em;
    position: relative;
    top: 60px;   
    text-align: center;
    padding-top: 100px;
}
.equipe p{
    font-size: 1em;
    width:700px;
    position: relative;
    top:90px;
    font-size: 1.5em;
    
    text-align: center;
    font-family: 'Conforta';
    margin:0 auto;
}
.equipe div{
    background-color:var(--branco-primario);
    position: relative;
    top: 22%;
    box-shadow: rgba(0,0,0,.5) 2px 2px 2px;
    border-radius: 5%;
    width: 20%;
    margin: 0px 70px;
    height: 40%;
}
.equipe div div{
    background-color: #b4b0b0;
    height: 120px;
    width: 120px;
    
    box-shadow: rgba(0,0,0,.5) 2px 2px 2px;
    border-radius: 100%;
    position: relative;
    top: 0px;
    left:0px;
    transform: translate(-50%,-50%);
    left: 25%;
}
.equipe div p{
    position: relative;
    top: -13%;
    font-size: 1.15em;
    color: #b4b0b0;
    
    width: 80%;
}
.equipe div span{
    color: var(--rosa-primario);
    font-size: 7em;
    position: relative;
    top: -60px;
    font-family: "Confortaa";
}
.equipe div.segundo{
    position: relative;
    left:40%;
    transform: translate(-50%,0);
    top: -140px;
}
.equipe div.terceiro{
    position: relative;
    left: 60%;
    top:-450px;
}